﻿@model IndexViewNCCModel;
@{
    ViewData["Title"] = "Nhà cung cấp";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 800px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    
                    <li>
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>
                    @if(Model.QUser.details.Contains("SanPham")){
                        <li >
                            <a href="/Admin/Product/Index">
                                <i class="pe-7s-note2"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("LoaiSanPham")){
                        <li>
                            <a href="/Admin/Type/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("ThuongHieu")){
                        <li>
                            <a href="/Admin/Brand/Index">
                                <i class="pe-7s-wallet"></i>
                                <p>Thương hiệu</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("Quyen")){
                        <li>
                            <a href="/Admin/Permission/Index">
                                <i class="pe-7s-id"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("NhanVien")){
                        <li>
                            <a href="/Admin/Staff/Index">
                                <i class="pe-7s-medal"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("KhachHang")){
                        <li>
                            <a href="/Admin/Customer/Index">
                                <i class="pe-7s-user"></i>
                                <p>Khách hàng</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("NCC")){
                        <li class="active">
                            <a href="/Admin/NCC/Index">
                                <i class="pe-7s-users"></i>
                                <p>Nhà cung cấp</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("HoaDon")){
                        <li>
                            <a href="/Admin/Bill/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Hóa đơn</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <form class="title" onsubmit="return false;">
                                        <p>
                                            <select style="height: 30px;" id="select">
                                                <option value="all">Tất cả</option>
                                                <option value="ncc_id">Tìm theo mã nhà cung cấp</option>
                                                <option value="name">Tìm theo tên nhà cung cấp</option>
                                            </select>
                                            <input type="text" style="height: 30px;" id="input_search"/>
                                            <input type="button" value="Tìm kiếm" style="height: 30px;" onclick="TimKiem()"/>
                                            <input type="button" value="Thêm nhà cung cấp" style="float: right;" onclick="ThemNCC()"/>
                                        </p>
                                    </form>
                                </div>
                                <div class="content table-responsive table-full-width" id="id1">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Mã NCC</th>
                                        <th>Tên NCC</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                        </thead>
                                        <tbody id="suancc1">
                                            @{
                                                foreach (var q in Model.ListNCC)
                                                {
                                                    <tr>
                                                        <td>@q.ncc_id</td>
                                                        <td>@q.name</td>
                                                        @{
                                                            if(q.status == 1){
                                                                <td>Hiện</td>
                                                            }
                                                            else{
                                                                <td>Ẩn</td>
                                                            }
                                                        }
                                                        <td>
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditNCC(@q.ncc_id)"><i class="pe-7s-config"></i></button>
                                                            @if (q.status != 0)
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveNCC(@q.ncc_id)"><i class="pe-7s-lock"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackNCC(@q.ncc_id)"><i class="pe-7s-unlock"></i></button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Kết thúc phần sửa*@

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>
    @*Phần sửa*@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span id="title-modal">Login</span></h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <div class="form-group">
                                <label>Mã nhà cung cấp</label>
                                <input type="text" class="form-control" id="ncc_id" placeholder="Mã nhà cung cấp" asp-for="@Model.NCC.ncc_id">
                                <span asp-validation-for="@Model.NCC.ncc_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Tên nhà cung cấp</label>
                                <input type="text" class="form-control" id="name" placeholder="Tên nhà cung cấp" asp-for="@Model.NCC.name">
                                <span asp-validation-for="@Model.NCC.name"></span>
                            </div>
                            @* <div class="form-group">
                                <label>Trạng thái nhà cung cấp</label>
                                <input type="text" class="form-control" id="status" placeholder="Trạng thái nhà cung cấp" asp-for="@Model.NCC.status">
                                <span asp-validation-for="@Model.NCC.status"></span>
                            </div> *@
                            <div class="checkbox">
                            </div>
                            <button type="submit" class="btn btn-success btn-block" onclick="SubmitEditNCC()" id="button_submit">Sửa</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Kết thúc phần sửa*@
</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function ThemNCC(){
        $(".form-group span").text("");
        $("#title-modal").html("Thêm nhà cung cấp");
        $("#name").val("");
        $("#myModal").modal();
        $.ajax({
            url: '/Admin/NCC/MaxNCC_ID',
            type: "post",
            dataType: "json",
            data: {
            },
            success: function (data) {
                if (data != -1) {
                    $("#ncc_id").val(data);
                    $("#ncc_id").attr('readonly', true);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy mã nhà cung cấp MAX=> ThemNCC",
                    html: e.responseText
                });
            }
        });
        $("#button_submit").html("Thêm");
        $("#button_submit").attr('onclick', 'SubmitThemNCC()');
    }

    function SubmitThemNCC(){
        $("#button_submit").focus();
        var ncc_id = parseInt($('#ncc_id').val());
        var name = $('#name').val();
        if(name.trim() == ""){
            return;
        }
        $.ajax({
            url: '/Admin/NCC/SubmitThemNCC',
            type: 'post',
            dataType: 'json',
            data: {
                ncc_id: ncc_id,
                name: name
            },
            async: false,
            success: function (data) {
                alert("Thêm thành công");
                location.reload();
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi thêm nhà cung cấp'
                });
            }
        });
    }
    function TimKiem(){
        var type = $("#select").val();
        var input = $("#input_search").val();
        $.ajax({
            url: '/Admin/NCC/TimKiem',
            type: "post",
            dataType: "json",
            data: {
                type: type,
                input: input
            },
            success: function (data) {
                if (data != -1) {
                    var s = "";
                    for(let i = 0; i < data.length; ++i){
                        s += `<tr>
                                    <td>`+ data[i].ncc_id +`</td>
                                    <td>`+ data[i].name +`</td>`;
                                    if(data[i].status == 1){
                                        s += `<td>Hiện</td>`;
                                    }
                                    else{
                                        s += `<td>Ẩn</td>`;
                                    }
                        s +=        `<td>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditNCC(`+ data[i].ncc_id +`)"><i class="pe-7s-config"></i></button>`;
                                        if (data[i].status != 0)
                                        {
                                            s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveNCC(`+ data[i].ncc_id +`)"><i class="pe-7s-lock"></i></button>`;
                                        }
                                        else
                                        {
                                            s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackNCC(`+ data[i].ncc_id +`)"><i class="pe-7s-unlock"></i></button>`;
                                        }
                        s +=        `</td>
                                </tr>`;
                    }
                    $("#suancc1").html(s);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi tìm kiếm nhà cung cấp => TimKiem",
                    html: e.responseText
                });
            }
        });
    }
    function SubmitEditNCC(){
        var ncc_id = parseInt($('#ncc_id').val());
        var name = $('#name').val();
        $.ajax({
            url: '/Admin/NCC/SubmitEditNCC',
            type: 'post',
            dataType: 'json',
            data: {
                ncc_id: ncc_id,
                name: name
            },
            async: false,
            success: function (data) {
                alert("Sửa thành công");
                location.reload();
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi sửa nhà cung cấp'
                });
            }
        });
    }

    function EditNCC(ncc_id) {
        $(".form-group span").text("");
        $("#title-modal").html("Sửa nhà cung cấp " + ncc_id);
        $("#ncc_id").attr('readonly', true);
        $.ajax({
            url: '/Admin/NCC/EditNCC',
            type: "post",
            dataType: "json",
            data: {
                ncc_id: ncc_id
            },
            success: function (data) {
                if (data != -1) {
                    $("#ncc_id").val(data.ncc_id);
                    $("#name").val(data.name);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin nhà cung cấp => EditNCC",
                    html: e.responseText
                });
            }
        });
        $("#button_submit").html("Sửa");
        $("#button_submit").attr('onclick', 'SubmitEditNCC()');
        $("#myModal").modal();
    }

    function BackNCC(ncc_id) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn HIỆN nhà cung cấp này không?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/NCC/BackNCC',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        ncc_id: ncc_id
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã HIỆN thành công");
                            location.reload();
                        }
                        else {
                            alert("HIỆN không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi HIỆN nhà cung cấp',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    } 

    function RemoveNCC(ncc_id) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn ẨN nhà cung cấp này không?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/NCC/RemoveNCC',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        ncc_id: ncc_id
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã ẨN thành công");
                            location.reload();
                        }
                        else {
                            alert("ẨN không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi ẨN nhà cung cấp',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
    function DangXuat(){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
</script>

</html>

