﻿@model IndexViewHomeModel
@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheet{
}

@section Scripts{
    <script>
        function ShopThemSPAjax(idsp){
            $.ajax({
                url : "/Shop/ShopThemSPAjax",
                type : "POST",
                dataType: "json",
                data: {
                    idsp: idsp
                },
                async: false,
                success: function(data){
                    if(data != null){
                        Swal.fire({
                            type: "success",
                            title : data
                        }).then((result) => {
                            // layout.js
                            LoadCartForLayOut();
                        });
                    }
                },
                error: function(e){
                    Swal.fire({
                            type: "error",
                            title: "Lỗi thêm sản phẩm => ShopThemSPAjax",
                            html: e.responseText
                        });
                }
            });
        }
    </script>
}

<!-- Hero Section Begin -->
    @*<section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="/img/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            
                            <h1>Black friday</h1>
                            
                            <a href="/Shop/Index" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="/img/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            
                            <h1>Black friday</h1>
                            
                            <a href="/Shop/Index" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>*@
    <!-- Hero Section End -->

    

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="/img/products/women-large.jpg">
                        
                    </div>
                </div>*@
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control" style="font-size: 130%; font-weight: bold;">
                        Sản phẩm bán chạy
                    </div>
                    <div class="product-slider owl-carousel">
                        @{
                            foreach(var sp in Model.ListSPChay){
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="@Url.Content(@sp.img)" alt="">
                                        <ul>
                                            <li class="w-icon active"><a onclick="ShopThemSPAjax(@sp.product_id)"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="/Product/Index/@sp.product_id">Xem chi tiết</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        @{
                                            foreach(var k in Model.ListTH){
                                                if(sp.brand_id == k.brand_id){
                                                    <div class="catagory-name">@k.name</div>
                                                    break;
                                                }
                                            }
                                        }
                                        
                                        <a href="/Product/Index/@sp.product_id">
                                            <h5>@sp.name</h5>
                                        </a>
                                        <div class="product-price">
                                            @(String.Format("{0:n0}", sp.price)) đ
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->
    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control" style="font-size: 130%; font-weight: bold;">
                        Sản phẩm hot
                    </div>
                    <div class="product-slider owl-carousel">
                        @{
                            foreach(var sp in Model.ListSPNoi){
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="@Url.Content(@sp.img)" alt="">
                                        <ul>
                                            <li class="w-icon active"><a onclick="ShopThemSPAjax(@sp.product_id)"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="/Product/Index/@sp.product_id">Xem chi tiết</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        @{
                                            foreach(var k in Model.ListTH){
                                                if(sp.brand_id == k.brand_id){
                                                    <div class="catagory-name">@k.name</div>
                                                    break;
                                                }
                                            }
                                        }
                                        
                                        <a href="/Product/Index/@sp.product_id">
                                            <h5>@sp.name</h5>
                                        </a>
                                        <div class="product-price">
                                            @(String.Format("{0:n0}", sp.price)) đ
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*<div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="/img/products/man-large.jpg">
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

    