@model Application.DTOs.LoginModelDto;
@{
    ViewData["Title"] = "Login";
}

@section Stylesheet{
    <style>
        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
}

@section Scripts{
    <script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(".nav-menu li").removeClass( "active" );
        $("#page_login").addClass("active");

        Message_Login();
        function Message_Login(){
            @if(ViewBag.Message_Login != null){
                <text>
                $(document).ready(function() {
                    alert("Đăng nhập thành công!");
                });
                </text>
            }
        }
    </script>
}


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Đăng nhập</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Đăng nhập</h2>
                    <form action="/Login/Index" method="post">
                        <div asp-validation-summary="ModelOnly">
                            <span></span>
                        </div>
                        <div class="group-input">
                            
                            <label asp-for="@Model.user">Tài khoản *</label>                         
                            <input asp-for="@Model.user">
                            <span asp-validation-for="@Model.user"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="@Model.pass">Mật khẩu *</label>
                            <input asp-for="@Model.pass" type="password">
                            <span asp-validation-for="@Model.pass"></span>
                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                @* <label for="save-pass">
                                        Save Password
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label> *@
                                <a href="#" class="forget-pass">Quên mật khẩu</a>
                            </div>
                        </div>
                        <button type="submit" class="site-btn login-btn">Đăng nhập</button>
                    </form>
                    <div class="switch-login">
                        <a asp-controller="Register" asp-action="Index" class="or-login">Tạo tài khoản</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <span>@Html.Raw(@ViewData["script"])</span> *@

