﻿@model IndexViewHoaDonModel;
@{
    ViewData["Title"] = "Hóa đơn";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 800px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    
                    <li>
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>
                    @if(Model.QUser.details.Contains("SanPham")){
                        <li >
                            <a href="/Admin/Product/Index">
                                <i class="pe-7s-note2"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("LoaiSanPham")){
                        <li>
                            <a href="/Admin/Type/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("ThuongHieu")){
                        <li>
                            <a href="/Admin/Brand/Index">
                                <i class="pe-7s-wallet"></i>
                                <p>Thương hiệu</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("Quyen")){
                        <li>
                            <a href="/Admin/Permission/Index">
                                <i class="pe-7s-id"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("NhanVien")){
                        <li>
                            <a href="/Admin/Staff/Index">
                                <i class="pe-7s-medal"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("KhachHang")){
                        <li>
                            <a href="/Admin/Customer/Index">
                                <i class="pe-7s-user"></i>
                                <p>Khách hàng</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("NCC")){
                        <li>
                            <a href="/Admin/NCC/Index">
                                <i class="pe-7s-users"></i>
                                <p>Nhà cung cấp</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("HoaDon")){
                        <li class="active">
                            <a href="/Admin/Bill/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Hóa đơn</p>
                            </a>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <form class="title" onsubmit="return false;">
                                        <p>
                                            <select style="height: 30px;" id="select">
                                                <option value="all">Tất cả</option>
                                                <option value="bill_id">Tìm theo mã hóa đơn</option>
                                                <option value="user_kh">Tìm theo mã khách hàng</option>
                                                <option value="user_nv">Tìm theo mã nhân viên</option>
                                            </select>
                                            <input type="text" style="height: 30px;" id="input_search"/>
                                            <input type="button" value="Tìm kiếm" style="height: 30px;" onclick="TimKiem()"/>
                                            <select style="height: 30px; float: right" id="select_trangthai" onchange="TimKiem()">
                                                <option value="0">Tất cả</option>
                                                <option value="1">Đang xử lý</option>
                                                <option value="2">Đang giao hàng</option>
                                                <option value="3">Đã giao hàng</option>
                                                <option value="4">Đã hủy đơn hàng</option>
                                            </select>
                                            <span style="float: right; margin-right: 2%;">Trạng thái: </span>
                                        </p>
                                    </form>
                                </div>
                                <div class="content table-responsive table-full-width" id="id1">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Mã hóa đơn</th>
                                        <th>Mã khách hàng</th>
                                        <th>Mã nhân viên</th>
                                        <th>Số điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Ngày nhận</th>
                                        <th>Ngày đặt</th>
                                        <th>Thành tiền</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                        </thead>
                                        <tbody id="suahd1"> 
                                            @{
                                                foreach (var q in Model.ListHD)
                                                {
                                                    <tr>
                                                        <td>@q.bill_id</td>
                                                        <td>@q.user_kh</td>
                                                        <td>@q.user_nv</td>
                                                        <td>@q.phone</td>
                                                        <td>@q.address</td>
                                                        @if(q.date_receice != null){
                                                            var date_receice = @q.date_receice.GetValueOrDefault();
                                                            <td>@date_receice.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                        }
                                                        else{
                                                            <td>@q.date_receice</td>
                                                        }
                                                        
                                                        <td>@q.date_order.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                        <td>@q.total</td>
                                                        @{
                                                            switch(@q.status){
                                                                case 1: <td>Đang xử lý</td>
                                                                        break;
                                                                case 2: <td>Đang giao hàng</td>
                                                                        break;
                                                                case 3: <td>Đã giao hàng</td>
                                                                        break;
                                                                case 4: <td>Đã hủy đơn hàng</td>
                                                                        break;
                                                                default: break;
                                                            }
                                                        }
                                                        
                                                        <td>
                                                            @*<i class="pe-7s-config"></i><i class="pe-7s-trash"></i>*@
                                                            @if(@q.status < 3){
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditHD(@q.bill_id)"><i class="pe-7s-config"></i></button>
                                                            }
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="ViewCTHD(@q.bill_id)"><i class="pe-7s-look"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="header">
                                    <h4 class="title" id="id_cthd">Chi tiết hóa đơn</h4>
                                    <p class="title" id="id_thanhtien">Thành tiền: </p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Mã sản phẩm</th>
                                            <th>Ảnh</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                        </thead>
                                        <tbody id="suacthd1">
                                            @* <tr>
                                                <td>1</td>
                                                <td>Dakota Rice</td>
                                                <td>$36,738</td>
                                                <td>Niger</td>
                                                <td>Oud-Turnhout</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Minerva Hooper</td>
                                                <td>$23,789</td>
                                                <td>Curaçao</td>
                                                <td>Sinaai-Waas</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sage Rodriguez</td>
                                                <td>$56,142</td>
                                                <td>Netherlands</td>
                                                <td>Baileux</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Philip Chaney</td>
                                                <td>$38,735</td>
                                                <td>Korea, South</td>
                                                <td>Overland Park</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Doris Greene</td>
                                                <td>$63,542</td>
                                                <td>Malawi</td>
                                                <td>Feldkirchen in Kärnten</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Mason Porter</td>
                                                <td>$78,615</td>
                                                <td>Chile</td>
                                                <td>Gloucester</td>
                                            </tr> *@
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            @*Kết thúc phần sửa*@

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>
    @*Phần sửa*@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span id="title-modal">Login</span></h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <div class="form-group">
                                <label>Mã loại sản phẩm</label>
                                <input type="text" class="form-control" id="bill_id" placeholder="Mã loại" asp-for="@Model.HD.bill_id">
                                <span asp-validation-for="@Model.HD.bill_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select id="status" style="width: 100%; height: 40px;">
                                    <option value="1">Đang xử lý</option>
                                    <option value="2">Đang giao hàng</option>
                                    <option value="3">Đã giao hàng</option>
                                    <option value="4">Đã hủy đơn hàng</option>
                                </select>
                                <span asp-validation-for="@Model.HD.status"></span>
                            </div>
                            <div class="checkbox">
                            </div>
                            <button type="submit" class="btn btn-success btn-block" onclick="SubmitEditHD()">Sửa</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Hủy</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Kết thúc phần sửa*@
</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function TimKiem(){
        var type = $("#select").val();
        var input = $("#input_search").val();
        var status = $("#select_trangthai").val();
        $.ajax({
            url: '/Admin/Bill/TimKiem',
            type: "post",
            dataType: "json",
            data: {
                type: type,
                input: input,
                status : status
            },
            success: function (data) {
                if (data != -1) {
                    var s = "";
                    var dn = "";
                    var dg = "";
                    for(let i = 0; i < data.length; ++i){
                        dn = "";
                        dg = "";
                        if(data[i].date_receice != null){
                            dn = data[i].date_receice.split("T");
                            dn[0] = dn[0].split("-");
                            dn[1] = dn[1].split(":");
                            dn = dn[0][2] + "/" + dn[0][1] + "/" + dn[0][0] + " " + dn[1][0] + ":" + dn[1][1] + ":" + dn[1][2];
                        }
                        
                        dg = data[i].date_order.split("T");
                        dg[0] = dg[0].split("-");
                        dg[1] = dg[1].split(":");
                        dg = dg[0][2] + "/" + dg[0][1] + "/" + dg[0][0] + " " + dg[1][0] + ":" + dg[1][1] + ":" + dg[1][2];
                        s += `<tr>
                                    <td>`+ data[i].bill_id +`</td>
                                    <td>`+ data[i].user_kh +`</td>
                                    <td>`+ data[i].user_nv +`</td>
                                    <td>`+ data[i].phone +`</td>
                                    <td>`+ data[i].address +`</td>
                                    <td>`+ dn +`</td>`;
                        s +=        `<td>`+ dg +`</td>
                                    <td>data[i].total</td>`;
                                    switch(data[i].status){
                                        case 1: s += `<td>Đang xử lý</td>`;
                                                break;
                                        case 2: s += `<td>Đang giao hàng</td>`;
                                                break;
                                        case 3: s += `<td><td>Đã giao hàng</td>`;
                                                break;
                                        case 4: s += `<td>Đã hủy đơn hàng</td>`;
                                                break;
                                        default: break;
                                    }
                        s +=        `<td>`;
                                        if(data[i].status < 3){
                                            s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditHD(`+ data[i].bill_id +`)"><i class="pe-7s-config"></i></button>`;
                                        }
                                        s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="ViewCTHD(`+ data[i].bill_id +`)"><i class="pe-7s-look"></i></button>`;
                        s +=        `</td>
                                </tr>`;
                    }
                    $("#suahd1").html(s);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi tìm kiếm hóa đơn => TimKiem",
                    html: e.responseText
                });
            }
        });
    }

    function EditHD(bill_id) {
        $("#title-modal").html("Sửa hóa đơn " + bill_id);
        $("#bill_id").attr('readonly', true);
        $.ajax({
            url: '/Admin/Bill/EditHD',
            type: "post",
            dataType: "json",
            data: {
                bill_id: bill_id
            },
            success: function (data) {
                if (data != -1) {
                    $("#bill_id").val(data.bill_id);
                    $("#status").val(data.status);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin hóa đơn => EditHD",
                    html: e.responseText
                });
            }
        });
        $("#myModal").modal();

    }

    function DangXuat(){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }

    function SubmitEditHD() {
        var bill_id = parseInt($('#bill_id').val());
        var status = $('#status').val();
        $.ajax({
            url: '/Admin/Bill/SubmitEditHD',
            type: 'post',
            dataType: 'json',
            data: {
                bill_id: bill_id,
                status: status
            },
            async: false,
            success: function (data) {
                if(data != -1){
                    alert("Sửa thành công");
                    location.reload();
                }
                else{
                    Swal.fire({
                        type: 'error',
                        title: 'Hóa đơn không thể sửa thành trạng thái kém hơn'
                    });
                }
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi sửa hóa đơn'
                });
            }
        });
    }
    function ViewCTHD(bill_id){
        $.ajax({
            url: '/Admin/Bill/ViewCTHD',
            type: 'post',
            dataType: 'json',
            data: {
                bill_id: bill_id
            },
            async: false,
            success: function (data) {
                if(data != -1){
                    var s = "";
                    var tongtien = 0;
                    var thanhtien = 0;
                    for(let i = 0; i < data.length; ++i){
                        tongtien = parseInt(data[i].price) * parseInt(data[i].amount);
                        thanhtien += tongtien;
                        s += `<tr>
                                <td>`+ data[i].product_id +`</td>
                                <td style="width: 80px; height: 80px;"><img src="`+ data[i].img +`" style="width: 100%; height: 100%;"></td>
                                <td>`+ data[i].name +`</td>
                                <td>`+ data[i].price +`</td>
                                <td>`+ data[i].amount +`</td>
                                <td>`+ tongtien +` đ</td>
                            </tr>`;
                    }
                    $("#suacthd1").html(s);
                    $("#id_thanhtien").html("Thành tiền: " + thanhtien + " đ");
                    $("#id_cthd").html("Chi tiết hóa đơn " + bill_id);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi sửa tài khoản'
                });
            }
        });
    }

</script>

</html>

