﻿@model IndexViewUserModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Light Bootstrap Dashboard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 800px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>

                    <li>
                        <a href="/Admin/Product/Index">
                            <i class="pe-7s-note2"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>


                    <li>
                        <a href="/Admin/Type/Index">
                            <i class="pe-7s-diskette"></i>
                            <p>Loại sản phẩm</p>
                        </a>
                    </li>


                    <li>
                        <a href="/Admin/Brand/Index">
                            <i class="pe-7s-wallet"></i>
                            <p>Thương hiệu</p>
                        </a>
                    </li>

                    @*@if(Model.QUser.details.Contains("Quyen")){
                            <li>
                                <a href="/Admin/Permission/Index">
                                    <i class="pe-7s-id"></i>
                                    <p>Quyền</p>
                                </a>
                            </li>
                        }
                        @if(Model.QUser.details.Contains("NhanVien")){
                            <li>
                                <a href="/Admin/Staff/Index">
                                    <i class="pe-7s-medal"></i>
                                    <p>Nhân viên</p>
                                </a>
                            </li>
                        }*@

                    <li>
                        <a href="/Admin/Customer/Index">
                            <i class="pe-7s-user"></i>
                            <p>Khách hàng</p>
                        </a>
                    </li>

                    @*@if(Model.QUser.details.Contains("NCC")){
                            <li>
                                <a href="/Admin/NCC/Index">
                                    <i class="pe-7s-users"></i>
                                    <p>Nhà cung cấp</p>
                                </a>
                            </li>
                        }*@

                    <li>
                        <a href="/Admin/Bill/Index">
                            <i class="pe-7s-diskette"></i>
                            <p>Hóa đơn</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Sửa thông tin cá nhân</h4>
                                </div>
                                <div class="content">
                                    <form action="/Admin/User/Index" method="POST" id="form-user">
                                        <div asp-validation-summary="ModelOnly">
                                            @* <span>Danh sách lỗi</span> *@
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Tài khoản</label>
                                                    <input type="text" class="form-control" placeholder="Tài khoản" asp-for="@Model.NV.user" id="user_id">
                                                    <span asp-validation-for="@Model.NV.user"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Mật khẩu</label>
                                                    <input type="password" class="form-control" placeholder="Mật khẩu" asp-for="@Model.NV.pass" id="user_password">
                                                    <span asp-validation-for="@Model.NV.pass"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Nhập lại mật khẩu</label>
                                                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" asp-for="@Model.NV.repass" id="user_repassword">
                                                    <span asp-validation-for="@Model.NV.repass"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Họ và tên</label>
                                                    <input type="text" class="form-control" placeholder="Họ và tên" asp-for="@Model.NV.full_name" id="user_fullname">
                                                    <span asp-validation-for="@Model.NV.full_name"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" class="form-control" placeholder="Số điện thoại" asp-for="@Model.NV.phone" id="user_phone">
                                                    <span asp-validation-for="@Model.NV.phone"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Địa chỉ</label>
                                                    <input type="text" class="form-control" placeholder="Địa chỉ" asp-for="@Model.NV.address" id="user_address">
                                                    <span asp-validation-for="@Model.NV.address"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Thư điện tử</label>
                                                    <input type="text" class="form-control" placeholder="Thư điện tử" asp-for="@Model.NV.mail" id="user_email">
                                                    <span asp-validation-for="@Model.NV.mail"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Ngày sinh</label>
                                                    <input type="date" class="form-control" placeholder="Ngày sinh" asp-for="@Model.NV.dateborn" id="user_dateborn">
                                                    <span asp-validation-for="@Model.NV.dateborn"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Giới tính</label>
                                                    @if (Model.NV.sex == "Nam")
                                                    {

                                                        <div class="form-check-inline">
                                                            @*<label class="form-check-label">
                                                                    @Html.RadioButtonFor(model => model.NV.sex, "Nam", new { style = "width:63%;" }) Nam
                                                                </label>*@
                                                            <input type="radio" name="gender" value="Nam" checked /> Nam
                                                        </div>
                                                        <div class="form-check-inline">
                                                            @*<label class="form-check-label">
                                                                    @Html.RadioButtonFor(model => model.NV.sex, "Nữ") Nữ
                                                                </label>*@
                                                            <input type="radio" name="gender" value="Nữ" /> Nữ
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-check-inline">
                                                            @*<label class="form-check-label">
                                                                    @Html.RadioButtonFor(model => model.NV.sex, "Nam", new { style = "width:63%;" }) Nam
                                                                </label>*@
                                                            <input type="radio" name="gender" value="Nam" /> Nam
                                                        </div>
                                                        <div class="form-check-inline">
                                                            @*<label class="form-check-label">
                                                                    @Html.RadioButtonFor(model => model.NV.sex, "Nữ") Nữ
                                                                </label>*@
                                                            <input type="radio" name="gender" value="Nữ" checked /> Nữ
                                                        </div>
                                                    }



                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="display: none;">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Mã quyền</label>
                                                    <input type="text" class="form-control" placeholder="Mã quyền" asp-for="@Model.NV.permission_id" readonly id="user_permission">
                                                    <span asp-validation-for="@Model.NV.permission_id"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Trạng thái</label>
                                                    <input type="text" class="form-control" placeholder="Trạng thái" asp-for="@Model.NV.status" readonly id="user_status">
                                                    <span asp-validation-for="@Model.NV.status"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-info btn-fill pull-right" id="submit_updateinformation" onclick="UpdateInformationUser()">Sửa thông tin</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="/assets/img/faces/face-3.jpg" alt="..." />

                                            <h4 class="title">
                                                @Model.NV.full_name<br />
                                                <small>@Model.NV.user</small>
                                            </h4>
                                        </a>
                                    </div>
                                    <p class="description text-center">
                                        @Model.Q.name
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>

        </div>

    </div>


</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function DangXuat() {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }

    var resultRadio = function buttonValue(e) {
        var radiovalue = $("input[name='gender']:checked").val();
        return radiovalue;
    }

    function UpdateInformationSubmit() {
        $("#submit_updateinformation").attr('onclick', 'UpdateInformationUser()');
    }

    function UpdateInformationUser() {
        $("#submit_updateinformation").focus();
        if ($('#user_password').val() != $('#user_repassword').val()) {
            alert('Kiểm tra lại mật khẩu');
        } else {
            var dataSubmit = {
                "user": $('#user_id').val(),
                "pass": $('#user_password').val(),
                "repass": $('#user_repassword').val(),
                "full_name": $('#user_fullname').val(),
                "phone": $('#user_phone').val(),
                "mail": $('#user_email').val(),
                "address": $('#user_address').val(),
                "sex": resultRadio,
                "dateborn": new Date($('#user_dateborn').val()),
            };

            console.log(dataSubmit);

            $.ajax({
                url: '/Admin/User/UpdateInformationUserAdmin',
                type: 'put',
                dataType: 'json',
                data: {
                    nhanVienDto: dataSubmit
                },
                async: false,
                success: function (data) {
                    alert("Thêm thành công");
                    location.reload();
                },
                error: function (e) {
                    Swal.fire({
                        type: 'error',
                        title: 'Lỗi cập nhật thông tin người dùng'
                    });
                }
            });
        }


    }


</script>
</html>
