﻿@model IndexViewBrandModel
@{
    ViewData["Title"] = "Thương hiệu";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 650px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>
                    @if(Model.QUser.details.Contains("SanPham")){
                        <li>
                            <a href="/Admin/Product/Index">
                                <i class="pe-7s-note2"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("LoaiSanPham")){
                        <li>
                            <a href="/Admin/Type/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("ThuongHieu")){
                        <li class="active">
                            <a href="/Admin/Brand/Index">
                                <i class="pe-7s-wallet"></i>
                                <p>Thương hiệu</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("Quyen")){
                        <li>
                            <a href="/Admin/Permission/Index">
                                <i class="pe-7s-id"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("NhanVien")){
                        <li>
                            <a href="/Admin/Staff/Index">
                                <i class="pe-7s-medal"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("KhachHang")){
                        <li>
                            <a href="/Admin/Customer/Index">
                                <i class="pe-7s-user"></i>
                                <p>Khách hàng</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("NCC")){
                        <li>
                            <a href="/Admin/NCC/Index">
                                <i class="pe-7s-users"></i>
                                <p>Nhà cung cấp</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("HoaDon")){
                        <li>
                            <a href="/Admin/Bill/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Hóa đơn</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @*<ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <b class="caret hidden-sm hidden-xs"></b>
                                <span class="notification hidden-sm hidden-xs">5</span>
                                <p class="hidden-lg hidden-md">
                                    5 Notifications
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>*@

                        <ul class="nav navbar-nav navbar-right">
                            @*<li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    Dropdown
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>*@
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <form class="title" onsubmit="return false;">
                                        <p>
                                            <select style="height: 30px;" id="select">
                                                <option value="all">Tất cả</option>
                                                <option value="brand_id">Tìm theo mã thương hiệu</option>
                                                <option value="name">Tìm theo tên thương hiệu</option>
                                            </select>
                                            <input type="text" style="height: 30px;" id="input_search"/>
                                            <input type="button" value="Tìm kiếm" style="height: 30px;" onclick="TimKiem()"/>
                                            <input type="button" value="Thêm thương hiệu" style="float: right;" onclick="ThemTH()"/>
                                        </p>
                                    </form>
                                </div>
                                <div class="content table-responsive table-full-width" id="id1">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Mã</th>
                                        <th>Tên thương hiệu</th>
                                        <th>Hành động</th>
                                        </thead>
                                        <tbody id="suath1">
                                            @{
                                                foreach (var q in Model.ListTH)
                                                {
                                                    <tr>
                                                        <td>@q.brand_id</td>
                                                        <td>@q.name</td>
                                                        <td>
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditBrand(@q.brand_id)"><i class="pe-7s-config"></i></button>
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveBrand(@q.brand_id)"><i class="pe-7s-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            @* <tr>
                                            <td>1</td>
                                            <td><img src="~/assets/img/tim_80x80.png"></td>
                                            <!-- <td>Dakota Rice</td> -->
                                            <td>$36,738</td>
                                            <td>Eglips Apple Fit Blusher là phấn má hồng dạng nén khi đánh không bị vón cục cho bạn một màu má hồng thật đẹp. Hạt phấn siêu mịn có khả năng hấp thụ bã nhờn và hút mồ hôi đồng thời còn giúp che phủ khuyết điểm như lỗ chân lông to, da thiếu sức sống.., với màu sắc nổi trội bạn có thể cảm nhận được màu sắc rạng rỡ và sống động trên đôi má của mình. Eglips Apple Fit Blusher ngoài việc sử dụng làm phấn má thì còn có thể sử dụng như phấn mắt, đánh highlight và làm phấn phủ.</td>
                                            <td>Eglips Apple Fit Blusher là phấn má hồng dạng nén khi đánh không bị vón cục cho bạn một màu má hồng thật đẹp. Hạt phấn siêu mịn có khả năng hấp thụ bã nhờn và hút mồ hôi đồng thời còn giúp che phủ khuyết điểm như lỗ chân lông to, da thiếu sức sống.., với màu sắc nổi trội bạn có thể cảm nhận được màu sắc rạng rỡ và sống động trên đôi má của mình. Eglips Apple Fit Blusher ngoài việc sử dụng làm phấn má thì còn có thể sử dụng như phấn mắt, đánh highlight và làm phấn phủ.</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>$23,789</td>
                                            <td>Curaçao</td>
                                            <td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>$56,142</td>
                                            <td>Netherlands</td>
                                            <td>Baileux</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>$38,735</td>
                                            <td>Korea, South</td>
                                            <td>Overland Park</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Doris Greene</td>
                                            <td>$63,542</td>
                                            <td>Malawi</td>
                                            <td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Mason Porter</td>
                                            <td>$78,615</td>
                                            <td>Chile</td>
                                            <td>Gloucester</td>
                                        </tr> *@
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                        

                    </div>
                </div>
            </div>
            @*Kết thúc phần sửa*@

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>
    @*Phần sửa*@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span id="title-modal">Login</span></h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" onsubmit="return false;">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <div class="form-group">
                                <label>Mã thương hiệu</label>
                                <input type="text" class="form-control" id="brand_id" placeholder="Mã thương hiệu" asp-for="@Model.TH.brand_id">
                                <span asp-validation-for="@Model.TH.brand_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Tên thương hiệu</label>
                                <input type="text" class="form-control" id="name" placeholder="Tên thương hiệu" asp-for="@Model.TH.name">
                                <span asp-validation-for="@Model.TH.name"></span>
                            </div>
                            <div class="checkbox">
                            </div>
                            <button type="submit" class="btn btn-success btn-block" onclick="SubmitEditTH()" id="button_submit">Sửa</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Hủy</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Kết thúc phần sửa*@
</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function TimKiem(){
        var type = $("#select").val();
        var input = $("#input_search").val();
        $.ajax({
            url: '/Admin/Brand/TimKiem',
            type: "post",
            dataType: "json",
            data: {
                type: type,
                input: input
            },
            success: function (data) {
                if (data != -1) {
                    var s = "";
                    for(let i = 0; i < data.length; ++i){
                        s += `<tr>
                                <td>`+ data[i].brand_id +`</td>
                                <td>`+ data[i].name +`</td>
                                <td>
                                    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditBrand(`+ data[i].brand_id +`)"><i class="pe-7s-config"></i></button>
                                    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveBrand(`+ data[i].brand_id +`)"><i class="pe-7s-trash"></i></button>
                                </td>
                            </tr>`;
                    }
                    $("#suath1").html(s);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi tìm kiếm thương hiệu => TimKiem",
                    html: e.responseText
                });
            }
        });
    }

    function EditBrand(brand_id) {
        $("#title-modal").html("Sửa thương hiệu sản phẩm " + brand_id);
        $("#brand_id").attr('readonly', true);
        $.ajax({
            url: '/Admin/Brand/EditBrand',
            type: "post",
            dataType: "json",
            data: {
                brand_id: brand_id
            },
            success: function (data) {
                if (data != -1) {
                    $("#brand_id").val(data.brand_id);
                    $("#name").val(data.name);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin thương hiệu => EditBrand",
                    html: e.responseText
                });
            }
        });
        $("#button_submit").html("Sửa");
        $("#button_submit").attr('onclick', 'SubmitEditTH()');
        $("#myModal").modal();

    }
    function SubmitEditTH() {
        var brand_id = parseInt($('#brand_id').val());
        var name = $('#name').val();
        if(name.trim() == ""){
            return;
        }
        $.ajax({
            url: '/Admin/Brand/SubmitEditTH',
            type: 'post',
            dataType: 'json',
            data: {
                brand_id: brand_id,
                name: name
            },
            async: false,
            success: function (data) {
                alert("Sửa thành công");
                location.reload();
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi sửa thương hiệu',
                    html: e.responseText
                });
            }
        });
    }
    function RemoveBrand(brand_id){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn xóa thương hiệu và tất cả các sản phẩm thuộc thương hiệu này?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/Brand/RemoveTH',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        brand_id: brand_id
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã xóa thành công");
                            location.reload();
                        }
                        else {
                            alert("Xóa không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi xóa thương hiệu',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
    function ThemTH(){
        $("#title-modal").html("Thêm thương hiệu");
        $("#myModal").modal();
        $.ajax({
            url: '/Admin/Brand/MaxBrand_ID',
            type: "post",
            dataType: "json",
            data: {
            },
            success: function (data) {
                if (data != -1) {
                    $("#brand_id").val(data);
                    $("#brand_id").attr('readonly', true);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy mã thương hiệu MAX=> ThemTH",
                    html: e.responseText
                });
            }
        });
        $("#button_submit").html("Thêm");
        $("#button_submit").attr('onclick', 'SubmitThemTH()');
    }

    function SubmitThemTH(){
        $("#button_submit").focus();
        var brand_id = parseInt($('#brand_id').val());
        var name = $('#name').val();
        $.ajax({
            url: '/Admin/Brand/SubmitThemTH',
            type: 'post',
            dataType: 'json',
            data: {
                brand_id: brand_id,
                name: name
            },
            async: false,
            success: function (data) {
                alert("Thêm thành công");
                location.reload();
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi thêm thương hiệu',
                    html: e.responseText
                });
            }
        });
    }

    function DangXuat(){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });

    function cc() {
        $("#myModal").modal();
    }
</script>

</html>

