﻿
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    @*<link href="assets/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    @*<link href="assets/css/animate.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    @*<link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />*@
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    @*<link href="assets/css/demo.css" rel="stylesheet" />*@
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    @*<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>*@
    <link href="~/assets/css/css.css" rel="stylesheet" />
    @*<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />*@
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    @RenderSection("Stylesheet", required: false)
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Admin
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="dashboard.html">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="user.html">
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    @{
                        if (ViewData["Title"] == "Sản phẩm")
                        {
                            <li class="active">
                                <a href="/Admin/Product/Index">
                                    <i class="pe-7s-note2"></i>
                                    <p>Sản phẩm</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Product/Index">
                                    <i class="pe-7s-note2"></i>
                                    <p>Sản phẩm</p>
                                </a>
                            </li>
                        }
                    }
                    @{
                        if (ViewData["Title"] == "Loại sản phẩm")
                        {
                            <li class="active">
                                <a href="/Admin/Type/Index">
                                    <i class="pe-7s-diskette"></i>
                                    <p>Loại sản phẩm</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Type/Index">
                                    <i class="pe-7s-diskette"></i>
                                    <p>Loại sản phẩm</p>
                                </a>
                            </li>
                        }
                    }
                    @{
                        if (ViewData["Title"] == "Thương hiệu")
                        {
                            <li class="active">
                                <a href="/Admin/Brand/Index">
                                    <i class="pe-7s-wallet"></i>
                                    <p>Thương hiệu</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Brand/Index">
                                    <i class="pe-7s-wallet"></i>
                                    <p>Thương hiệu</p>
                                </a>
                            </li>
                        }
                    }
                    @*@{
                        if (ViewData["Title"] == "Quyền")
                        {
                            <li class="active">
                                <a href="/Admin/Permission/Index">
                                    <i class="pe-7s-id"></i>
                                    <p>Quyền</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Permission/Index">
                                    <i class="pe-7s-id"></i>
                                    <p>Quyền</p>
                                </a>
                            </li>
                        }
                    }*@
                    @*Hong cmt*@
                    @*@{
                        if (ViewData["Title"] == "Nhân viên")
                        {
                            <li class="active">
                                <a href="/Admin/Staff/Index">
                                    <i class="pe-7s-medal"></i>
                                    <p>Nhân viên</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Staff/Index">
                                    <i class="pe-7s-medal"></i>
                                    <p>Nhân viên</p>
                                </a>
                            </li>
                        }
                    }*@

                    @{
                        if (ViewData["Title"] == "Khách hàng")
                        {
                            <li class="active">
                                <a href="/Admin/Customer/Index">
                                    <i class="pe-7s-user"></i>
                                    <p>Khách hàng</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Customer/Index">
                                    <i class="pe-7s-user"></i>
                                    <p>Khách hàng</p>
                                </a>
                            </li>
                        }
                    }

                    <li>
                        <a href="typography.html">
                            <i class="pe-7s-news-paper"></i>
                            <p>Typography</p>
                        </a>
                    </li>
                    @{
                        if (ViewData["Title"] == "Icon")
                        {
                            <li class="active">
                                <a href="/Admin/Icon/Index">
                                    <i class="pe-7s-science"></i>
                                    <p>Icons</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Admin/Icon/Index">
                                    <i class="pe-7s-science"></i>
                                    <p>Icons</p>
                                </a>
                            </li>
                        }
                    }

                    <li>
                        <a href="maps.html">
                            <i class="pe-7s-map-marker"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <i class="pe-7s-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="upgrade.html">
                            <i class="pe-7s-rocket"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @*<ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                        <p class="hidden-lg hidden-md">Dashboard</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <b class="caret hidden-sm hidden-xs"></b>
                                        <span class="notification hidden-sm hidden-xs">5</span>
                                        <p class="hidden-lg hidden-md">
                                            5 Notifications
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                        <p class="hidden-lg hidden-md">Search</p>
                                    </a>
                                </li>
                            </ul>*@

                        <ul class="nav navbar-nav navbar-right">
                            @*<li>
                                    <a href="">
                                        <p>Account</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            Dropdown
                                            <b class="caret"></b>
                                        </p>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>*@
                            <li>
                                <a href="#">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>

    <div class="container">
        <h2>Modal Login Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-default btn-lg" id="myBtn">Login</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group">
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                <input type="text" class="form-control" id="psw" placeholder="Enter password">
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
@*<script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>*@
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
@*<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>*@
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
@*<script src="assets/js/chartist.min.js"></script>*@
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
@*<script src="assets/js/bootstrap-notify.js"></script>*@
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
@*<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>*@
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
@*<script src="assets/js/demo.js"></script>*@
<script src="~/assets/js/demo.js"></script>
@RenderSection("Scripts", required: false)

</html>

