﻿@* @model IndexViewShopModel *@
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] | SammiShop</title>

    <!-- Google Font -->
    <link href="~/css/css/css.css" rel="stylesheet" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/css/bootstrap.min.css" >
    <link rel="stylesheet" href="~/css/css/font-awesome.min.css" >
    <link rel="stylesheet" href="~/css/css/themify-icons.css" >
    <link rel="stylesheet" href="~/css/css/elegant-icons.css" >
    <link rel="stylesheet" href="~/css/css/owl.carousel.min.css" >
    <link rel="stylesheet" href="~/css/css/nice-select.css" >
    <link rel="stylesheet" href="~/css/css/jquery-ui.min.css" >
    <link rel="stylesheet" href="~/css/css/slicknav.min.css" >
    <link rel="stylesheet" href="~/css/css/style.css" >
    @RenderSection("Stylesheet", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        Địa chỉ email: cskh@sammishop.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        Điện thoại: 19002631
                    </div>
                </div>
                <div class="ht-right">
                    @{
                        if (ViewBag.CurrentUser != null)
                        {
                            <a href="/User/Index" class="login-panel"><i class="fa fa-user"></i>@ViewBag.CurrentUser.KhachHangDto.full_name</a>
                        }
                        else
                        {
                            <a href="/Login/Index" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                        }
                    }
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img src="~/img/logo.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            @* <button type="button" class="category-btn">All Categories</button> *@
                            @* <div > *@
                            <form action="/Shop/Index" method="GET" class="input-group">
                                <input type="text" name="SearchString" placeholder="Nhập sản phẩm tìm kiếm">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>

                            @* </div> *@
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a href="/Cart/Index" id="suatotalsoluongdonhanglayout">
                                    <i class="icon_bag_alt"></i>
                                    @* @{
                                            if(ViewBag.DonHang != null){
                                                <span>@ViewBag.DonHang.total</span>
                                            }
                                        } *@

                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table id="loadcartlayout">
                                            <tbody>
                                                @* @{
                                                        if(ViewBag.DonHang != null){
                                                            foreach(var q in ViewBag.DonHang.ListSP){
                                                                <tr>
                                                                    <td class="si-pic"><img src="@Url.Content(@q.img)" alt=""></td>
                                                                    <td class="si-text">
                                                                        <div class="product-selected">
                                                                            <p>@q.price x @q.amount</p>
                                                                            <h6>@q.name</h6>
                                                                        </div>
                                                                    </td>
                                                                    <td class="si-close">
                                                                        <i class="ti-close"></i>
                                                                    </td>
                                                                </tr>
                                                            }

                                                        }
                                                    } *@
                                                @* <tr>
                                                        <td class="si-pic"><img src="~/img/select-product-1.jpg" alt=""></td>
                                                        <td class="si-text">
                                                            <div class="product-selected">
                                                                <p>$60.00 x 1</p>
                                                                <h6>Kabino Bedside Table</h6>
                                                            </div>
                                                        </td>
                                                        <td class="si-close">
                                                            <i class="ti-close"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="si-pic"><img src="~/img/select-product-2.jpg" alt=""></td>
                                                        <td class="si-text">
                                                            <div class="product-selected">
                                                                <p>$60.00 x 1</p>
                                                                <h6>Kabino Bedside Table</h6>
                                                            </div>
                                                        </td>
                                                        <td class="si-close">
                                                            <i class="ti-close"></i>
                                                        </td>
                                                    </tr> *@
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total" id="loadtotalcartlayout">
                                        <span>Tổng:</span>
                                        @* @{
                                                if(ViewBag.DonHang != null){
                                                    <h5>@ViewBag.DonHang.totalprice đ</h5>
                                                }
                                            } *@
                                    </div>
                                    <div class="select-button">
                                        <a href="/Cart/Index" class="primary-btn view-card">Xem chi tiết</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price" id="totalpricelayout"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container-fluid">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Danh mục</span>
                        <ul class="depart-hover">
                            @{
                                if (ViewBag.Danhmuc != null)
                                {
                                    foreach (var q in ViewBag.Danhmuc)
                                    {
                                        <li><a href="/Shop/Index/?Type=@q.product_type_id">@q.name</a></li>
                                    }
                                }
                            }
                            @* <li class="active"><a href="#">Women’s Clothing</a></li>
                                <li><a href="#">Men’s Clothing</a></li>
                                <li><a href="#">Underwear</a></li>
                                <li><a href="#">Kid's Clothing</a></li>
                                <li><a href="#">Brand Fashion</a></li>
                                <li><a href="#">Accessories/Shoes</a></li>
                                <li><a href="#">Luxury Brands</a></li>
                                <li><a href="#">Brand Outdoor Apparel</a></li> *@
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/Home/Index">Trang chủ</a></li>
                        <li id="page_shop"><a href="/Shop/Index">Sản phẩm</a></li>
                        @*<li><a href="/Deal/Index">Khuyến mại hôm nay</a></li>*@
                        <li><a href="/Store/Index">Hệ thống cửa hàng</a></li>
                        @* <li><a href="#">Collection</a>
                                <ul class="dropdown">
                                    <li><a href="#">Men's</a></li>
                                    <li><a href="#">Women's</a></li>
                                    <li><a href="#">Kid's</a></li>
                                </ul>
                            </li> *@
                        @*<li id="page_login"><a href="/Login/Index">Đăng nhập</a></li>
                        <li id="page_register"><a href="/Register/Index">Đăng kí</a></li>*@
                        <li id="page_cart"><a href = "/Cart/Index">Giỏ hàng</a></li>
                    </ul>
                </nav>
                @*<div id="mobile-menu-wrap"></div>*@
            </div>
        </div>
    </header>
    <!-- Header End -->

    @RenderBody()

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="/Home/Index"><img src="~/img/footer-logo.png" alt=""></a>
                        </div>
                        <div>
                            <h5 class="cmt">VỀ CHÚNG TÔI</h5>
                            <ul>
                                <li>Câu chuyện thương hiệu</li>
                                <li>Quy định & hình thức thanh toán</li>
                                <li>Chính sách bảo mật thông tin</li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>HỖ TRỢ</h5>
                        <ul>
                            <li>Chính sách tích lũy điểm</li>
                            <li>Hướng dẫn mua hàng và chính sách giao hàng</li>
                            <li>Chính sách đổi trả</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>HỢP TÁC KINH DOANH</h5>
                        <ul>
                            <li>Chính sách bán sỉ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>BẢN TIN</h5>
                        <p>Đăng Ký Tại Đây Để Nhận Thông Tin Khuyến Mãi Mỗi Ngày</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Nhập email của bạn">
                            <button type="button">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/js/bootstrap.min.js"></script>
    <script src="~/js/js/jquery-ui.min.js"></script>
    <script src="~/js/js/jquery.countdown.min.js"></script>
    <script src="~/js/js/jquery.nice-select.min.js"></script>
    <script src="~/js/js/jquery.zoom.min.js"></script>
    <script src="~/js/js/jquery.dd.min.js"></script>
    <script src="~/js/js/jquery.slicknav.js"></script>
    <script src="~/js/js/owl.carousel.min.js"></script>
    <script src="~/js/js/main.js"></script>
    <script src="~/js/js/sweetalert2@8.js"></script>
    <script src="~/js/js/layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>