﻿@model IndexViewKhachHangModel
@{
    ViewData["Title"] = "Khách hàng";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 800px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>
                    @if(Model.QUser.details.Contains("SanPham")){
                        <li >
                            <a href="/Admin/Product/Index">
                                <i class="pe-7s-note2"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("LoaiSanPham")){
                        <li>
                            <a href="/Admin/Type/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("ThuongHieu")){
                        <li>
                            <a href="/Admin/Brand/Index">
                                <i class="pe-7s-wallet"></i>
                                <p>Thương hiệu</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("Quyen")){
                        <li>
                            <a href="/Admin/Permission/Index">
                                <i class="pe-7s-id"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    }
                    @if(Model.QUser.details.Contains("NhanVien")){
                        <li>
                            <a href="/Admin/Staff/Index">
                                <i class="pe-7s-medal"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("KhachHang")){
                        <li class="active">
                            <a href="/Admin/Customer/Index">
                                <i class="pe-7s-user"></i>
                                <p>Khách hàng</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("NCC")){
                        <li>
                            <a href="/Admin/NCC/Index">
                                <i class="pe-7s-users"></i>
                                <p>Nhà cung cấp</p>
                            </a>
                        </li>
                    }*@
                    @if(Model.QUser.details.Contains("HoaDon")){
                        <li>
                            <a href="/Admin/Bill/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Hóa đơn</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <form class="title" onsubmit="return false;">
                                        <p>
                                            <select style="height: 30px;" id="select">
                                                <option value="all">Tất cả</option>
                                                <option value="user">Tìm theo tài khoản</option>
                                                <option value="full_name">Tìm theo họ tên</option>
                                                <option value="phone">Tìm theo số điện thoại</option>
                                                <option value="mail">Tìm theo thư điện tử</option>
                                                <option value="address">Tìm theo địa chỉ</option>
                                            </select>
                                            <input type="text" style="height: 30px;" id="input_search"/>
                                            <input type="button" value="Tìm kiếm" style="height: 30px;" onclick="TimKiem()"/>
                                            @* <input type="button" value="Thêm khách hàng" style="float: right;" onclick="ThemKH()"/> *@
                                        </p>
                                    </form>
                                </div>
                                <div class="content table-responsive table-full-width" id="id1">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Tài khoản</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại</th>
                                        <th>Thư điện tử</th>
                                        <th>Địa chỉ</th>
                                        <th>Giới tính</th>
                                        <th>Ngày sinh</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                        </thead>
                                        <tbody id="suakh1">
                                            @{
                                                foreach (var q in Model.ListKH)
                                                {
                                                    <tr>
                                                        <td>@q.user</td>
                                                        <td>@q.full_name</td>
                                                        <td>@q.phone</td>
                                                        <td>@q.mail</td>
                                                        <td>@q.address</td>
                                                        <td>@q.sex</td>
                                                        <td>@q.dateborn.ToString("dd/MM/yyyy")</td>
                                                        @if(q.status == 1){
                                                            <td>Hiện</td>
                                                        }
                                                        else{
                                                            <td>Ẩn</td>
                                                        }
                                                        <td>
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditKH('@q.user')"><i class="pe-7s-config"></i></button>
                                                            @if (q.status != 0)
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveKH('@q.user')"><i class="pe-7s-lock"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackKH('@q.user')"><i class="pe-7s-unlock"></i></button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Kết thúc phần sửa*@

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>
    @*Phần sửa*@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span id="title-modal">Login</span></h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" onsubmit="return false;">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <div class="form-group">
                                <label>Tài khoản</label>
                                <input type="text" class="form-control" id="user" placeholder="Tài khoản" asp-for="@Model.KH.user">
                                <span asp-validation-for="@Model.KH.user"></span>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="password" class="form-control" id="pass" placeholder="Mật khẩu" asp-for="@Model.KH.pass">
                                <span asp-validation-for="@Model.KH.pass"></span>
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="repass" placeholder="Nhập lại mật khẩu" asp-for="@Model.KH.repass">
                                <span asp-validation-for="@Model.KH.repass"></span>
                            </div>
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" class="form-control" id="full_name" placeholder="Họ tên" asp-for="@Model.KH.full_name">
                                <span asp-validation-for="@Model.KH.full_name"></span>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" asp-for="@Model.KH.phone">
                                <span asp-validation-for="@Model.KH.phone"></span>
                            </div>
                            <div class="form-group">
                                <label>Thư điện tử</label>
                                <input type="text" class="form-control" id="mail" placeholder="Thư điện tử" asp-for="@Model.KH.mail">
                                <span asp-validation-for="@Model.KH.mail"></span>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" id="address" placeholder="Địa chỉ" asp-for="@Model.KH.address">
                                <span asp-validation-for="@Model.KH.address"></span>
                            </div>
                            <div class="form-group">
                                <label>Giới tính</label>
                                <select id="sex" style="height: 30px; margin-left: 5%;">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                                <span asp-validation-for="@Model.KH.sex"></span>
                            </div>
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <input type="date" class="form-control" id="dateborn" placeholder="Ngày sinh" asp-for="@Model.KH.dateborn">
                                <span asp-validation-for="@Model.KH.dateborn"></span>
                            </div>
                            <div class="checkbox">
                            </div>
                            <button type="submit" class="btn btn-success btn-block" onclick="SubmitEditKH()" id="button_submit">Sửa</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Hủy</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Kết thúc phần sửa*@
</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function TimKiem(){
        var type = $("#select").val();
        var input = $("#input_search").val();
        $.ajax({
            url: '/Admin/Customer/TimKiem',
            type: "post",
            dataType: "json",
            data: {
                type: type,
                input: input
            },
            success: function (data) {
                if (data != -1) {
                    var s = "";
                    var d = "";
                    for(let i = 0; i < data.length; ++i){
                        d = data[i].dateborn.replace("T00:00:00", "");
                        d = d.split("-");
                        s +=`<tr>
                                <td>`+ data[i].user +`</td>
                                <td>`+ data[i].full_name +`</td>
                                <td>`+ data[i].phone +`</td>
                                <td>`+ data[i].mail +`</td>
                                <td>`+ data[i].address +`</td>
                                <td>`+ data[i].sex +`</td>
                                <td>`+ d[2] + `/` + d[1] + '/' + d[0] +`</td>`;
                                if(data[i].status == 1){
                                    s += `<td>Hiện</td>`;
                                }
                                else{
                                    s += `<td>Ẩn</td>`;
                                }
                        s +=    `<td>
                                    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditKH('`+ data[i].user +`')"><i class="pe-7s-config"></i></button>`;
                                    if (data[i].status != 0)
                                    {
                                        s+= `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveKH('`+ data[i].user +`')"><i class="pe-7s-lock"></i></button>`;
                                    }
                                    else
                                    {
                                        s+= `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackKH('`+ data[i].user +`')"><i class="pe-7s-unlock"></i></button>`;
                                    }
                        s +=    `</td>
                            </tr>`;
                    }
                    $("#suakh1").html(s);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi tìm kiếm khách hàng => TimKiem",
                    html: e.responseText
                });
            }
        });
    }
    function EditKH(user) {
        $(".form-group span").text("");
        $("#title-modal").html("Sửa nhân viên " + user);
        $("#user").attr('readonly', true);
        $.ajax({
            url: '/Admin/Customer/EditKH',
            type: "post",
            dataType: "json",
            data: {
                user: user
            },
            success: function (data) {
                if (data != -1) {
                    $("#user").val(data.user);
                    $("#pass").val(data.pass);
                    $("#repass").val(data.repass);
                    $("#full_name").val(data.full_name);
                    $("#phone").val(data.phone);
                    $("#mail").val(data.mail);
                    $("#address").val(data.address);
                    $("#sex").val(data.sex);
                    var d = formatDate(data.dateborn);
                    $("#dateborn").val(d);

                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin khách hàng => EditKH",
                    html: e.responseText
                });
            }
        });
        $("#button_submit").html("Sửa");
        $("#button_submit").attr('onclick', 'SubmitEditKH()');
        $("#myModal").modal();

    }
    function SubmitEditKH() {
        $.ajax({
            url: '/Admin/Customer/SubmitEditKH',
            type: 'post',
            dataType: 'json',
            data: {
                user: $('#user').val(),
                pass: $('#pass').val(),
                repass: $('#repass').val(),
                full_name: $('#full_name').val(),
                phone: $('#phone').val(),
                mail: $('#mail').val(),
                address: $('#address').val(),
                sex: $('#sex').val(),
                dateborn: $('#dateborn').val()
            },
            async: false,
            success: function (data) {
                if(data != -1){
                    alert("Sửa thành công");
                    location.reload();
                }
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Lỗi sửa tài khoản'
                });
            }
        });
    }
    function BackKH(user) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn mở khóa tài khoản này này?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/Customer/BackKH',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        user: user
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã mở khóa thành công");
                            location.reload();
                        }
                        else {
                            alert("Mở khóa không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi mở khóa tài khoản này',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }

    function RemoveKH(user) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn khóa tài khoản này này?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/Customer/RemoveKH',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        user: user
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã khóa thành công");
                            location.reload();
                        }
                        else {
                            alert("Khóa không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi khóa tài khoản này',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }
    function DangXuat(){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });

    function cc() {
        $("#myModal").modal();
    }
    
</script>

</html>

