﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h1> HỆ THỐNG CỬA HÀNG </h1>
        <b>
            <p>Công ty TNHH Bán lẻ Sammishop</p>
            <p>Số 159, Xuân Thủy, phường Dịch Vọng Hậu, quận Cầu Giấy, thành phố Hà Nội.</p>
            <p>Giấy chứng nhận đăng ký kinh doanh số 0109129611 cấp ngày 18/03/2020 tại Phòng đăng ký kinh doanh Sở kế hoạch và đầu tư thành phố Hà Nội.</p>
            <br />
            <p>Điện thoại: 19002631 – mail: cskh@sammishop.com</p>
            <br />
            <p>HỆ THỐNG CỬA HÀNG SAMMISHOP - MIỀN BẮC </p>
        </b>
        <br /><br />
        <b><p>Tại Hà Nội:</p></b>
        <p>- CH 1: Số 65 Nguyễn Phong Sắc - 19002631 (Nhánh 101)</p>
        <br />
        <p>- CH 2: Số 371 Nguyễn Văn Cừ - 19002631 (Nhánh 102)</p>
        <br />
        <p>- CH 3: Số 56 Nguyễn Hữu Huân - 19002631 (Nhánh 103)</p>
        <br />
        <p>- CH 4: Số 48 Chùa Láng - 19002631 (Nhánh 104)</p>
        <br />
        <p>- CH 5: Số 228 Cầu Giấy - 19002631 (Nhánh 105)</p>
        <br />
        <p>- CH 6: Số 126 Cầu Giấy - 19002631 (Nhánh 106)</p>
        <br />
        <p>- CH 7: Số 250-252 Nguyễn Trãi, Hà Đông (Cạnh ĐH Hà Nội) - 19002631 (Nhánh 107)</p>
        <br />
        <p>- CH 8: Số 159 Xuân Thủy - 19002631 (Nhánh 108)</p>
        <br />
        <p>- CH 9: Số 61 Thái Hà - 19002631 (Nhánh 109)</p>
        <br />
        <p>-CH 10 : Số 127 Chùa Bộc - 19002631 (Nhánh 110)</p>
        <br />
        <img src="~/image/ch_cau_giay.jpg" />
        <br /><br />
        <p><b>HỆ THỐNG CỬA HÀNG SAMMISHOP - MIỀN NAM</b></p>
        <p><b>Tại TP. Hồ Chí Minh:</b></p>
        <br />
        <p>- CH 1: Số 151 Nguyễn Gia Trí (D2 cũ), P.25, Q.BT - 19002631 (Nhánh 201)</p>
        <br />
        <p>- CH 2: Số 352 Đường 3/2, P12, Q.10 - 19002631 (Nhánh 202)</p>
        <br />
        <p>- CH 3: Số 255 Nguyễn Thị Thập, P.TP, Q.7 - 19002631 (Nhánh 203)</p>
        <br />
        <p>- CH 4: Số 515 Phan Văn Trị, P.5, Q.GV - 19002631 (Nhánh 204)</p>
        <br />
        <img src="~/image/img_6515_grande.jpg" />
    </div>

