@model Application.DTOs.UserDtos.EditUserDto;
@{
    ViewData["Title"] = "Detail - User";
}

@section Stylesheet{
}

@section Scripts{
}

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Xem thông tin cá nhân</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">THÔNG TIN CÁ NHÂN</h4>
                        <ul class="filter-catagories">
                            <li><a asp-controller="User" asp-action="Detail" style="color: #e7ab3c;">Xem thông tin cá nhân</a></li>
                            <li><a asp-controller="User" asp-action="Edit">Sửa thông tin cá nhân</a></li>
                            <li><a asp-controller="User" asp-action="EditPass">Sửa mật khẩu</a></li>
                            <li><a asp-controller="User" asp-action="MyOrder">Đơn hàng của tôi</a></li>
                            <li><a asp-controller="User" asp-action="LogOut">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row" style="font-weight: bold; font-size: 20px;">
                            Xem thông tin cá nhân
                        </div>
                    </div>
                    <div class="container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Họ tên</td>
                                    <td>@Model.full_name</td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td>@Model.phone</td>
                                </tr>
                                <tr>
                                    <td>Thư điện tử</td>
                                    <td>@Model.mail</td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <td>@Model.address</td>
                                </tr>
                                <tr>
                                    <td>Giới tính</td>
                                    <td>@Model.sex</td>
                                </tr>
                                <tr>
                                    <td>Ngày sinh</td>
                                    <td>@Model.dateborn.ToString("dd/MM/yyyy")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>