﻿@model IndexViewProductModel
@{
    ViewData["Title"] = "Sản phẩm";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] | Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
        #id1 {
            width: 100%;
            overflow: auto;
            max-height: 650px;
        }

        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        @ViewBag.QuyenCurrentUserAdmin.name
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/Admin/User/Index">
                            <i class="pe-7s-user"></i>
                            <p>Thông tin tài khoản</p>
                        </a>
                    </li>
                    @if (Model.QUser.details.Contains("SanPham"))
                    {
                        <li class="active">
                            <a href="/Admin/Product/Index">
                                <i class="pe-7s-note2"></i>
                                <p>Sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if (Model.QUser.details.Contains("LoaiSanPham"))
                    {
                        <li>
                            <a href="/Admin/Type/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                    }
                    @if (Model.QUser.details.Contains("ThuongHieu"))
                    {
                        <li>
                            <a href="/Admin/Brand/Index">
                                <i class="pe-7s-wallet"></i>
                                <p>Thương hiệu</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("Quyen")){
                            <li>
                                <a href="/Admin/Permission/Index">
                                    <i class="pe-7s-id"></i>
                                    <p>Quyền</p>
                                </a>
                            </li>
                        }
                        @if(Model.QUser.details.Contains("NhanVien")){
                            <li>
                                <a href="/Admin/Staff/Index">
                                    <i class="pe-7s-medal"></i>
                                    <p>Nhân viên</p>
                                </a>
                            </li>
                        }*@
                    @if (Model.QUser.details.Contains("KhachHang"))
                    {
                        <li>
                            <a href="/Admin/Customer/Index">
                                <i class="pe-7s-user"></i>
                                <p>Khách hàng</p>
                            </a>
                        </li>
                    }
                    @*@if(Model.QUser.details.Contains("NCC")){
                            <li>
                                <a href="/Admin/NCC/Index">
                                    <i class="pe-7s-users"></i>
                                    <p>Nhà cung cấp</p>
                                </a>
                            </li>
                        }*@
                    @if (Model.QUser.details.Contains("HoaDon"))
                    {
                        <li>
                            <a href="/Admin/Bill/Index">
                                <i class="pe-7s-diskette"></i>
                                <p>Hóa đơn</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">@ViewData["Title"]</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a onclick="DangXuat()">
                                    <p>@ViewBag.CurrentUserAdmin.full_name | <span>Đăng xuất</span></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*Phần sửa*@
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <form class="title" onsubmit="return false;">
                                        <p>
                                            <select style="height: 30px;" id="select">
                                                <option value="all">Tất cả</option>
                                                @*Hong cmt*@
                                                @*<option value="product_id">Tìm theo mã sản phẩm</option>
                                                    <option value="name">Tìm theo tên sản phẩm</option>
                                                    <option value="product_type_id">Tìm theo mã loại sản phẩm</option>
                                                    <option value="brand_id">Tìm theo mã thương hiệu sản phẩm</option>
                                                    <option value="price">Tìm theo giá</option>*@
                                            </select>
                                            <input type="text" style="height: 30px;" id="input_search" />
                                            <input type="button" value="Tìm kiếm" style="height: 30px;" onclick="TimKiem()" />
                                            <input type="button" value="Thêm sản phẩm" style="float: right;" onclick="OpenModalAddProduct()" />
                                        </p>
                                    </form>
                                </div>
                                <div class="content table-responsive table-full-width" id="id1">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Mã</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Mã loại</th>
                                        <th>Mã thương hiệu</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Mô tả</th>
                                        <th>Cách sử dụng</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                        </thead>
                                        <tbody id="suasp1">
                                            @{
                                                foreach (var q in Model.ListSP)
                                                {
                                                    <tr>
                                                        <td>@q.product_id</td>
                                                        <td style="width: 80px; height: 80px;"><img src="@q.img" style="width: 100%; height: 100%;"></td>
                                                        @* <td class='click go0'><img src="@q.img"></td> *@
                                                        <td>@q.name</td>
                                                        <td>@q.product_type_id</td>
                                                        <td>@q.brand_id</td>
                                                        <td>@q.amount</td>
                                                        <td>@q.price</td>
                                                        <td>@q.description</td>
                                                        <td>@q.use</td>
                                                        @if (q.status == 1)
                                                        {
                                                            <td>Còn bán</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Hết bán</td>
                                                        }
                                                        <td>
                                                            <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditSP(@q.product_id)"><i class="pe-7s-config"></i></button>
                                                            @if (q.status != 0)
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveSP(@q.product_id)"><i class="pe-7s-lock"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackSP(@q.product_id)"><i class="pe-7s-unlock"></i></button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Kết thúc phần sửa*@

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>


        </div>
    </div>
    @*Phần sửa*@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span id="title-modal">Login</span></h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div asp-validation-summary="ModelOnly">
                                @* <span>Danh sách lỗi</span> *@
                            </div>
                            <div class="form-group">
                                <label>Mã sản phẩm</label>
                                <input type="text" class="form-control" id="product_id" placeholder="Mã sản phẩm" asp-for="@Model.SP.product_id">
                                <span asp-validation-for="@Model.SP.product_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Mã loại sản phẩm</label>
                                <select id="sl_product_type_id" onchange="changeLSP()" style="width: 100%;height: 40px;">
                                    @{
                                        foreach (var q in Model.ListLSP)
                                        {
                                            <option value="@q.product_type_id">@q.product_type_id - @q.name</option>
                                        }
                                    }
                                </select>
                                <input type="text" class="form-control" id="product_type_id" placeholder="Mã loại sản phẩm" asp-for="@Model.SP.product_type_id" readonly style="display: none;">
                                <span asp-validation-for="@Model.SP.product_type_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Mã thương hiệu</label>
                                <select id="sl_brand_id" onchange="changeTH()" style="width: 100%;height: 40px;">
                                    @{
                                        foreach (var q in Model.ListTH)
                                        {
                                            <option value="@q.brand_id">@q.brand_id - @q.name</option>
                                        }
                                    }
                                </select>
                                <input type="text" class="form-control" id="brand_id" placeholder="Mã thương hiệu" asp-for="@Model.SP.brand_id" readonly style="display: none;">
                                <span asp-validation-for="@Model.SP.brand_id"></span>
                            </div>
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" asp-for="@Model.SP.name">
                                <span asp-validation-for="@Model.SP.name"></span>
                            </div>
                            <div class="form-group">
                                <label>Số lượng sản phẩm</label>
                                <input type="text" class="form-control" id="amount" placeholder="Số lượng sản phẩm" asp-for="@Model.SP.amount">
                                <span asp-validation-for="@Model.SP.amount"></span>
                            </div>
                            <div class="form-group">
                                <label>Giá sản phẩm</label>
                                <input type="text" class="form-control" id="price" placeholder="Giá sản phẩm" asp-for="@Model.SP.price">
                                <span asp-validation-for="@Model.SP.price"></span>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <input type="text" class="form-control" id="description" placeholder="Mô tả" asp-for="@Model.SP.description">
                                <span asp-validation-for="@Model.SP.description"></span>
                            </div>
                            <div class="form-group">
                                <label>Cách sử dụng</label>
                                <input type="text" class="form-control" id="use" placeholder="Cách sử dụng" asp-for="@Model.SP.use">
                                <span asp-validation-for="@Model.SP.use"></span>
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input class="form-control" id="img" asp-for="@Model.photo" onchange="openFile(event)">
                                <span asp-validation-for="@Model.SP.img"></span>
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input type="text" class="form-control" placeholder="Trạng thái" id="status" asp-for="@Model.SP.status" readonly>
                                <span asp-validation-for="@Model.SP.status"></span>
                            </div>
                            <div class="checkbox">
                            </div>
                            <button id="button_submit" type="button" class="btn btn-success btn-block" onclick="SubmitEditLSP()">Sửa</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Kết thúc phần sửa*@
</body>

<!--   Core JS Files   -->
<script src="~/assets/js/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script src="~/assets/js/js.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@*Validate Script*@
<script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.min.js"></script>
<script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/js/sweetalert2@8.js"></script>
<script src="~/assets/js/Modal/jquery.min.js"></script>
<script src="~/assets/js/Modal/bootstrap.min.js"></script>
<script>
    function TimKiem(){
        var type = $("#select").val();
        var input = $("#input_search").val();
        @* alert(type + ' ' + input); *@
        $.ajax({
            url: '/Admin/Product/TimKiem',
            type: "post",
            dataType: "json",
            data: {
                type: type,
                input: input
            },
            success: function (data) {
                if (data != -1) {
                    var s = "";
                    for(let i = 0; i < data.length; ++i){
                        s += `<tr>
                                    <td>`+ data[i].product_id +`</td>
                                    <td style="width: 80px; height: 80px;"><img src="`+ data[i].img +`" style="width: 100%; height: 100%;"></td>
                                    <td>`+ data[i].name +`</td>
                                    <td>`+ data[i].product_type_id +`</td>
                                    <td>`+ data[i].brand_id +`</td>
                                    <td>`+ data[i].amount +`</td>
                                    <td>`+ data[i].price +`</td>
                                    <td>`+ data[i].description +`</td>
                                    <td>`+ data[i].use +`</td>`;
                                    if(data[i].status == 1){
                                        s += `<td>Còn bán</td>`;
                                    }
                                    else{
                                        s += `<td>Hết bán</td>`;
                                    }
                        s+=         `<td>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit" data-toggle="modal" data-target="#myModal" onclick="EditSP(`+ data[i].product_id +`)"><i class="pe-7s-config"></i></button>`;
                                        if (data[i].status != 0)
                                        {
                                            s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="RemoveSP(`+ data[i].product_id +`)"><i class="pe-7s-lock"></i></button>`;
                                        }
                                        else
                                        {
                                            s += `<button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash" onclick="BackSP(`+ data[i].product_id +`)"><i class="pe-7s-unlock"></i></button>`;
                                        }
                        s +=        `</td>
                                </tr>`;
                    }
                    $("#suasp1").html(s);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi tìm kiếm sản phẩm => TimKiem",
                    html: e.responseText
                });
            }
        });
    }
    var reader = new FileReader();
    var openFile = function(event) {
        var input = event.target;

        reader.onload = function(){
        var dataURL = reader.result;
        @* var output = document.getElementById('output');
        output.src = dataURL; *@
        };
        reader.readAsDataURL(input.files[0]);
    };
    function SubmitEditLSP(){
        @* console.log($("#img").val());
        var file = new FileReader($("#img").val());
        console.log(file); *@
        console.log(reader.result);
        $.ajax({
            url: '/Admin/Product/SubmitEditLSP',
            type: "post",
            dataType: "json",
            data: {
                photo: reader.DONE
            },
            success: function (data) {
                if (data != -1) {
                    console.log("đã load ảnh");
                }
                else{
                    console.log("load ảnh thất bại");
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin sản phẩm => EditSP",
                    html: e.responseText
                });
            }
        });
    }
    function changeLSP() {
        $("#product_type_id").val($("#sl_product_type_id").val());
    }
    function changeTH() {
        $("#brand_id").val($("#sl_brand_id").val());
    }
    function EditSP(product_id) {
        $("#title-modal").html("Sửa sản phẩm mã " + product_id);
        $("#product_id").attr('readonly', true);
        $.ajax({
            url: '/Admin/Product/EditSP',
            type: "post",
            dataType: "json",
            data: {
                product_id: product_id
            },
            success: function (data) {
                if (data != -1) {
                    $("#product_id").val(data.product_id);
                    $("#product_type_id").val(data.product_type_id);
                    $("#sl_product_type_id").val(data.product_type_id);
                    $("#brand_id").val(data.brand_id);
                    $("#sl_brand_id").val(data.brand_id);
                    $("#name").val(data.name);
                    $("#amount").val(data.amount);
                    $("#price").val(data.price);
                    $("#description").val(data.description);
                    $("#use").val(data.use);
                    $("#status").val(data.status);
                    $("#img").val(data.img);
                }
            },
            error: function (e) {
                Swal.fire({
                    type: "error",
                    title: "Lỗi lấy thông tin sản phẩm => EditSP",
                    html: e.responseText
                });
            }
        });
        $("#myModal").modal();
    }

    // Them san pham
    function OpenModalAddProduct() {
        $("#product_id").attr('readonly', true);
        $(".form-group span").text("");
        $("#title-modal").html("Thêm sản phẩm");
        $("#button_submit").html("Thêm");
        $("#button_submit").attr('onclick', 'AddProduct()');
        $("#myModal").modal();
    }

    function AddProduct() {
        $("#button_submit").focus();
        var dataSubmit = {
            "product_type_id" : parseInt($('#product_type_id').val()),
            "brand_id" : parseInt($('#brand_id').val()),
             "name": $('#name').val(),
            "amount" : parseInt($('#amount').val()),
            "price" : $('#price').val(),
           "description"  : $('#description').val(),
          "use"   : $('#use').val(),
           "img"  : $('#img').val(),
        };
          $.ajax({
            url: '/Admin/Product/InsertListProduct',
            type: 'post',
            dataType: 'json',
            data:{
                product: dataSubmit
            },
            async: false,
            success: function(data){
                alert("Thêm thành công");
                location.reload();
            },
              error: function (e) {
              Swal.fire({
                    type: 'error',
                    title: 'Lỗi thêm loại sản phẩm'
                });
            }
        });
    }

    function BackSP(product_id) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn mở khóa sản phẩm này?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/Product/BackSP',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        product_id: product_id
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã mở khóa thành công");
                            location.reload();
                        }
                        else {
                            alert("Mở khóa không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi mở khóa sản phẩm',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }

    function RemoveSP(product_id) {
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn khóa sản phẩm này?",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/Product/RemoveSP',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        product_id: product_id
                    },
                    success: function (data) {
                        if (data == "ok") {
                            alert("Đã khóa thành công");
                            location.reload();
                        }
                        else {
                            alert("Khóa không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi khóa sản phẩm',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
    function DangXuat(){
        Swal.fire({
            type: "question",
            title: "Xác nhận",
            text: "Bạn có muốn Đăng Xuất",
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/Admin/User/DangXuat',
                    type: 'post',
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        if (data == 1) {
                            alert("Đã đăng xuất");
                            location.reload();
                        }
                        else {
                            alert("Đăng xuất không thành công");
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Lỗi đăng xuất',
                            html: e.responseText
                        });
                    }
                });
            }
        });
    }
</script>

</html>

