@model Application.DTOs.KhachHangDto;
@{
    ViewData["Title"] = "Register";
}

@section Stylesheet{
    <style>
        .field-validation-error {
            color: red
        }

        .validation-summary-errors {
            color: red
        }
    </style>
}

@section Scripts{
    <script src="~/js/Validate-client/jquery-2.2.0.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.min.js"></script>
    <script src="~/js/Validate-client/jquery.validate.unobtrusive.min.js"></script>
    <script>
        
        Message_Register();
        function Message_Register(){
            @if(ViewBag.Message_Register != null){
                <text>
                $(document).ready(function() {
                    alert("Đăng kí thành công!");
                });
                </text>
            }
        }
        $(".nav-menu li").removeClass( "active" );
        $("#page_register").addClass("active");
    </script>
}


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Đăng kí</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Đăng kí</h2>
                    <form action="/Register/Index" method="post">
                        <div asp-validation-summary="ModelOnly">
                            @* <span>Danh sách lỗi</span> *@
                        </div>
                        <div class="group-input">
                            <label asp-for="@Model.user">Tài khoản *</label>
                            <input asp-for="@Model.user">
                            <span asp-validation-for="@Model.user"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.pass">Mật khẩu *</label>
                            <input asp-for="@Model.pass" type="password">
                            <span asp-validation-for="@Model.pass"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.repass">Nhập lại mật khẩu *</label>
                            <input asp-for="@Model.repass" type="password">
                            <span asp-validation-for="@Model.repass"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.full_name">Họ tên *</label>
                            <input asp-for="@Model.full_name">
                            <span asp-validation-for="@Model.full_name"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.phone">Số điện thoại *</label>
                            <input type="number" asp-for="@Model.phone">
                            <span asp-validation-for="@Model.phone"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.mail">Thư điện tử *</label>
                            <input asp-for="@Model.mail">
                            <span asp-validation-for="@Model.mail"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.address">Địa chỉ *</label>
                            <input asp-for="@Model.address">
                            <span asp-validation-for="@Model.address"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="sex">Giới tính * &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(model => model.sex, "Nam", new {style = "width:63%;"}) Nam
                                    </label>
                                </div>
                                
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(model => model.sex, "Nữ") Nữ
                                    </label>
                                </div>

                            </label>
                            <span asp-validation-for="@Model.sex"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="@Model.dateborn">Ngày sinh *</label>
                            <input asp-for="@Model.dateborn">
                            <span asp-validation-for="dateborn"></span>
                        </div>
                        <div class="group-input" style="display: none;">
                            <label asp-for="@Model.status">Trạng thái *</label>
                            <input asp-for="@Model.status" value="1">
                            <span asp-validation-for="@Model.status"></span>
                        </div>
                        <button type="submit" class="site-btn login-btn">Đăng kí</button>
                    </form>
                    <div class="switch-login">
                        <a asp-controller="Login" asp-action="Index" class="or-login">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
